{{>header}}
<main>
	{{#each posts}}
		<div class='post'>
			<div class='cicle'>
				<i class='fa-solid fa-ellipsis-vertical'></i>
			</div>
			<ul class='menu'>
				<li class='edit menu__item' data-id={{id}}>Chỉnh sửa</li>
				<li class='delete menu__item' data-id={{id}}>Xóa</li>
			</ul>
			<div>
				<a href='/post/{{slug}}'>
					<img src='{{thumb}}' class='thumb' />
					<h3 class='title'>{{title}} </h3>
					<p class='content'>{{content}}</p>
				</a>
				<p>
					<strong>{{auth}}</strong>
					<small>{{created_at}}</small>
				</p>
			</div>
			<div id='modal__{{id}}' class='modal'>
				<form action='/post/{{id}}' method='post' class='formAdd'>
					<div class='container'>
						<input
							type='text'
							name='title'
							class='input title__place'
							placeholder='Tiêu đề bài viết....'
							value='{{title}}'
						/>
					</div>
					<div class='container'>
						<input type='file' name='thumb' />
					</div>
					<div class='container'>
						<textarea
							id=''
							name='content'
							cols='30'
							rows='10'
							class='input'
							spellcheck='false'
							placeholder='Nội dung bài viết'
						>{{content}}</textarea>
					</div>
					<button type='submit' class='button'>Lưu</button>
				</form>
			</div>
		</div>
	{{else}}
		<p>Không có bài blog nào hãy thêm bài đi!</p>
	{{/each}}
</main>
{{>footer}}
