{{header}}
<main>
	{{#each posts}}
		<div class='post'>
			<div>
				<p>{{auth}} {{created_at}}</p>
				<a href='/post/{{id}}'>
					<img src='{{thumb}}' />
					<h3>{{title}} </h3>
					<p>{{content}}</p>
				</a>
			</div>
			<button class='edit' data-id={{id}}>edit</button>
			<form action='/post' method='put'>
				<label for=''>tieu de</label>
				<input type='text' name='title' />

				<label for=''>thumbnail</label>
				<input type='file' name='file' />

				<label for=''>noi dung</label>
				<textarea name='content' cols='30' rows='10'></textarea>
				<input type='submit' />
			</form>
			<button class='delete' data-id={{id}}>delete</button>
		</div>

	{{/each}}
</main>
{{footer}}
